div {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    background: #fc0;
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%)
}

div:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 6px;
    height: 6px;
    background: #f00;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff; 
    z-index: 2;
}

div:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 18px;
    border: solid;
    border-width: 4px 8px;
    border-color: transparent #fa0000 #fa0000 transparent;
    transform: rotate(-58deg);
    z-index: 1;
}