/*

    ¯\(°_o)/¯

*/

body {
    margin: 0;
  }

.widget {
    position: relative;
    background-color: #edf5f6;
    font-family: arialregular;
    margin: 3px 10px;
    border-radius: 10px;
    border: 5px solid #459b65;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

.widget h3, .widget p {
    margin: 0;
}

.widget .icon {
    border-radius: 50%;
    background-color: #459b65;
    margin: 0 0.5em;
}

.widget * {
    margin: 0;
}

.widget__large {
    width: 280px;
    min-height: 120px;
    padding-left: 120px;
}

.widget__small {
    width: 235px;
    min-height: 70px;
    padding-left: 65px;
    font-size: 0.7em;
}

.widget .icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.widget__large .icon {
    width: 100px;
    height: 100px;
}

.widget__small .icon {
    width: 50px;
    height: 50px;
}