:root {
  --main-bg: rgb(255,219,77);
}

div {
  position: relative;
  width: 223px;
  height: 142px;
  background: var(--main-bg);
}
div::after {
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background:
      radial-gradient(circle, #FFF, #FFF 10px, var(--main-bg) 10px, var(--main-bg))  -10px -10px / 20px 20px no-repeat,
      radial-gradient(circle, #FFF, #FFF 10px, var(--main-bg) 10px, var(--main-bg))  -10px 132px / 20px 20px no-repeat,
      radial-gradient(circle, #FFF, #FFF 10px, var(--main-bg) 10px, var(--main-bg))  213px 132px / 20px 20px no-repeat,
      radial-gradient(circle, #FFF, #FFF 10px, var(--main-bg) 10px, var(--main-bg))  213px -10px / 20px 20px no-repeat,
      radial-gradient(circle, #FFF, #FFF 6px, var(--main-bg) 7px, var(--main-bg))  8px 59px / 16px 16px no-repeat;
}
div::before {
  content: '';
  position: absolute;
  left: 4px; right: 4px; top: 4px; bottom: 4px;
  border: 1px dashed rgba(0, 0, 0, .3);
  outline: 1px dashed rgba(255, 255, 255, .5);
}