/*   */
/* https://yadi.sk/i/aZ-FwkIpurpbrg */
body {
    margin: 0;
    font-family: arialregular;
    font-size: 13px;
    line-height: 16px;
    color: #333;
}

.red {
    background-color: #FFEBEE;
}

.darkblue {
    background-color: #EDE7F6;
}

.aqua {
    background-color: #E0F7FA;
}

.green {
    background-color: #E8F5E9;
}

.yellow {
    background-color: #FFFDE7;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    background: #fcfcfc;
}

.content {
    position: relative;
    padding-top: 48px;
    background: linear-gradient(#ec3229 400px, white 0);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    width: 800px;
    box-sizing: border-box;
}

.content__title {
    margin: 0;
    color: #fff;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    padding: 0 80px;
}

.content__tags {
    margin: 34px 0 38px 0;
    padding: 0 80px;
}

.tags { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.tags__item {
    margin-right: 8px;
    margin-bottom: 8px;
}

.tags__label {
    padding: 6px 12px 6px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
}

.content__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    padding-left: 80px;
    margin-bottom: 24px;
}

.content__carousel {
    padding-left: 65px;
    display: flex;
    width: 100%;
    overflow-x: overlay;
    padding-bottom: 24px;
    box-sizing: border-box;
    position: relative;
}

.content__carousel:after {
    content: '';
    border-right: 40px solid transparent;
}

.article {
    display: flex;
    flex-direction: column;
    width: 328px;
    margin-right: 16px;
    display: none;
    height: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.article__image-container {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 4px;
    overflow: hidden;
}

.article__image-container .image__placeholder {
    width: 100%;
    height: 100%;
}

.article__tag {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 3px;
    padding: 7px 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}

.article__content {
    padding: 16px 16px 12px 16px;
}

.article__places-count {
    color: #999;
}

.article__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.article__preview-text {
    color: #4d4d4d;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.article__author {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.article__author .image__placeholder {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
}

.author__name {
    color: #999;
    line-height: 1;
}

.radio {
    display: none;
}

#popular:checked~.main .article.category__popular {
    display: block;
}

#popular:checked~.main .tags__label.popular {
    background-color: #fff;
    color: #ec3229;
}

#restaurants:checked~.main .article.category__restaurants {
    display: block; 
}

#restaurants:checked~.main .tags__label.restaurants {
    background-color: #fff;
    color: #ec3229;
}